<?php
    define('DB_NAME', '<%= database['database'] %>');
    define('DB_USER', '<%= database['username'] %>');
    define('DB_PASSWORD', '<%= database['password'] %>');
    define('DB_HOST', '<%= database['host'] %>');
    define('DB_CHARSET', 'utf8');
    define('DB_COLLATE', '');
	define('WPLANG', '');

	$table_prefix  = 'pbf_univ_';

	<%= secret_keys %>

	define('WP_HOME','/');
	define('WP_SITEURL','/w');
	// define('WP_HOME','<%= wp_siteurl %>');
	// define('WP_SITEURL','<%= wp_siteurl %>/w');

	// define('WP_CONTENT_URL', '<%= wp_siteurl %>/content');
	define('WP_CONTENT_URL', '/content');
	define('WP_CONTENT_DIR', realpath($_SERVER['DOCUMENT_ROOT'] . '/content'));

	if ( !defined('ABSPATH') )
	        define('ABSPATH', dirname(__FILE__) . '/');

	// force SSL on login and dashboard
	define('FORCE_SSL_ADMIN', true);

	require_once(ABSPATH . 'wp-settings.php');

	define('FS_METHOD', 'direct');